include setup.py 
include AUTHORS CHANGELOG.rst LICENSE MANIFEST.in README.rst
recursive-include dbag *.py
recursive-include dbag/static *
recursive-include dbag/templates *
recursive-include dbag/fixtures *
recursive-include tests *.py
prune tests/*.pyc
prune dbag/*.pyc
